{{> head  }}
{{> navbar  }}

    <div class="row mt-4 p-4">
        <div class="col-8">
            <h1>Capitán América</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa ea provident reiciendis, ducimus error dolorum. Quo sed dolores modi voluptate, quibusdam ipsa quos rem, non doloremque architecto aspernatur, labore reprehenderit!</p>
        </div>
        <div class="col-4">
            <img src="assets/img/Capitan-America-256.png" alt="img.jpg" class="img-fluid">
        </div>
    </div>

{{> footer  }}